<section>
  <section class="navbar-header">
    <p class="navbar-title">Nearest Fuel Station</p>
    <p class="navbar-subtitle">The Nearest Electric Charging Station</p>
  </section>
  <section class="search-results">
    <p><%= @station.name %></p>
    <p><%= @station.address %></p>
    <p><%= @station.fuel_type %></p>
    <p><%= @station.access_times %></p>
  </section>
  <section class="directions">
    <p><%= @directions.distance %></p>
    <p><%= @directions.directions %></p>
  </section>
</section>