<h1>Nearest Fuel Station</h1>

<section class="nearest-station">
  <p><%= @station.name %></p>
  <p><%= @station.address %></p>
  <p><%= @station.fuel_type %></p>
  <p><%= @station.access_times %></p>
</section>
<section class="directions">
  <p><%= @route.distance %></p>
  <p><%= @route.travel_time %></p>
  <p><%= @route.directions %></p>
</section>